* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope";
    background-color: #E5E5E5;
}

.header {
    position: relative;
    height: 667px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-bg {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: unset;
}

.navbar {
    padding-top: 43px;
    padding-left: 69px;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: bolder;
    cursor: pointer;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-content h1 {
    font-family: "Anton", sans-serif;
    font-size: 44px;
    color: yellow;
    margin-top: -30px;
}

.header-content h1 span {
    padding-left: 25px;
}

.search-bar {
    padding-top: 30px;
    padding-right: 70px;
    position: relative;
}

.search-bar input {
    width: 920px;
    border-radius: 12px;
    border: none;
    height: 70px;
    margin-left: 70px;
    padding-left: 35px;
    font-size: 17px;
}

.search-bar button {
    padding: 15px 15px;
    border-radius: 12px;
    right: 80px;
    background: black;
    color: white;
    border: none;
    position: absolute;
    top: 38px;
}

.search-bar i {
    font-size: 22px;
}

.selects-recettes {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}

.selects {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.select {
    position: relative;
    width: 200px;
}

.select-name {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.option {
    padding: 10px;
}

.selected {
    background-color: #FFD15B;
    padding: 10px;
}

#option-selected-ingredients, #option-selected-appareils, #option-selected-ustensiles {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputSelect {
    margin-left: 10px;
    margin-top: 10px;
    height: 25px;
}

#select-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.open {
    display: block;
}

.hidden {
    display: none;
}

.nombre-recettes {
    font-size: 20px;
    margin-bottom: 7px;
    position: absolute;
    right: 50px;
    font-family: "Anton";
}

.recettes-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 16px;
    gap: 50px;
    justify-items: center;
}

.card {
    max-width: 381px;
    margin-bottom: 15px;
}

.photo-plat {
    position: relative;
    width: 381px;
    height: 254px;
}

.timer {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FFD15B;
    padding: 5px 15px 5px 15px;
    border-radius: 14px;
}

.photo-plat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card-content {
    background-color: white;
    height: 480px;
    border-radius: 0px 0px 20px 20px;
}

.titre-plat {
    font-family: "Anton", sans-serif;
    padding-top: 32px;
    margin-left: 27px;
    font-size: 18px;
}

.titre {
    margin-left: 27px;
    margin-top: 22px;
}

.card-content .titre {
    color: #7A7A7A;
}

.desc {
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 8px;
  font-size: 14px;
  max-height: 80px;
  overflow: hidden;
}

.grid-ingrédient {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info-ingredient {
    margin-left: 27px;
    margin-top: 20px;
}

.dose-ingredient {
    color: #7A7A7A;
}

.tags-container {
    display: flex;
    gap: 10px;
    padding-top: 15px;
    align-items: center;
}

.tag {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #FFD15B;
    padding: 15px 20px 15px 20px;
    border-radius: 14px;
    white-space: nowrap;
}

#clear-search {
    position: absolute;
    right: 150px;
    top: 55px;
    cursor: pointer;
    display: none;
    color: grey;
    font-size: 16px;
}